/* line 1, /home/jesus/Escritorio/gomets/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/jesus\/Escritorio\/gomets\/less\/style\.less}line{font-family:\000031}}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
/* line 9, /home/jesus/Escritorio/gomets/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/jesus\/Escritorio\/gomets\/less\/style\.less}line{font-family:\000039}}
.wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
/* line 16, /home/jesus/Escritorio/gomets/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/jesus\/Escritorio\/gomets\/less\/style\.less}line{font-family:\0000316}}
.face-container {
  margin-top: 150px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
/* line 24, /home/jesus/Escritorio/gomets/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/jesus\/Escritorio\/gomets\/less\/style\.less}line{font-family:\0000324}}
.gomet {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  border-radius: 1000px;
  background-color: #9a9a9a;
}
/* line 34, /home/jesus/Escritorio/gomets/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/jesus\/Escritorio\/gomets\/less\/style\.less}line{font-family:\0000334}}
.gomet.red {
  background-color: red;
}
/* line 37, /home/jesus/Escritorio/gomets/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/jesus\/Escritorio\/gomets\/less\/style\.less}line{font-family:\0000337}}
.gomet.green {
  background-color: green;
}
/* line 42, /home/jesus/Escritorio/gomets/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/jesus\/Escritorio\/gomets\/less\/style\.less}line{font-family:\0000342}}
.players {
  position: absolute;
  left: 0;
  width: 250px;
  background-color: gainsboro;
  height: 100%;
}
/* line 50, /home/jesus/Escritorio/gomets/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/jesus\/Escritorio\/gomets\/less\/style\.less}line{font-family:\0000350}}
.face-container {
  width: 396px;
  height: 384px;
  background-image: url('../img/cara.jpg');
}
/* line 55, /home/jesus/Escritorio/gomets/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/jesus\/Escritorio\/gomets\/less\/style\.less}line{font-family:\0000355}}
.face-container .gomet {
  position: absolute;
}
