*
{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.wrapper
{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.face-container
{
    margin-top: 150px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.gomet
{
    top:0;
    left:0;
    width: 41px;
    height: 41px;
    border-radius: 1000px;
    background-color: #9a9a9a;

    &.red{
        background-color: red;
    }
    &.green{
        background-color: green;
    }
}

.players{
    position: absolute;
    left: 0;
    width: 250px;
    background-color: gainsboro;
    height: 100%;
}

.face-container{
    width: 396px;
    height: 384px;
    background-image: url('../img/cara.jpg');

    .gomet{
        position: absolute;
    }
}
