/* line 1, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\000031}}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
/* line 9, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\000039}}
.wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
/* line 16, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000316}}
.face-container {
  margin-top: 150px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
/* line 24, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000324}}
.gomet {
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  border-radius: 1000px;
  background-color: #9a9a9a;
  font-weight: bolder;
  color: white;
}
/* line 35, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000335}}
.gomet.red {
  background-color: red;
}
/* line 38, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000338}}
.gomet.green {
  background-color: green;
}
/* line 43, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000343}}
.left-bar {
  position: absolute;
  left: 0;
  width: 250px;
  background-color: gainsboro;
  height: 100%;
}
/* line 50, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000350}}
.left-bar .gomet {
  display: inline-block;
  font-size: 133%;
  line-height: 38px;
}
/* line 56, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000356}}
.left-bar .gomet.small {
  width: 20px;
  height: 20px;
  font-size: 100%;
  line-height: 20px;
}
/* line 64, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000364}}
.left-bar .player {
  padding: 3px 0;
}
/* line 68, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000368}}
.left-bar .player:first-child {
  margin-top: 15px;
}
/* line 73, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000373}}
.face-container {
  width: 396px;
  height: 384px;
  background-image: url('../img/cara.jpg');
}
/* line 78, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000378}}
.face-container .gomet {
  position: absolute;
}
/* line 85, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000385}}
.player.active {
  background-color: #9a9a9a;
}
