/* line 1, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\000031}}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
/* line 9, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\000039}}
.wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
/* line 16, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000316}}
.face-container {
  margin-top: 150px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
/* line 24, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000324}}
.gomet {
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  border-radius: 1000px;
  background-color: #9a9a9a;
}
/* line 33, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000333}}
.gomet.red {
  background-color: red;
}
/* line 36, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000336}}
.gomet.green {
  background-color: green;
}
/* line 41, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000341}}
.players {
  position: absolute;
  left: 0;
  width: 250px;
  background-color: gainsboro;
  height: 100%;
}
/* line 49, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000349}}
.face-container {
  width: 396px;
  height: 384px;
  background-image: url('../img/cara.jpg');
}
/* line 54, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000354}}
.face-container .gomet {
  position: absolute;
}
/* line 61, /opt/lampp/htdocs/gomets/public/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/lampp\/htdocs\/gomets\/public\/less\/style\.less}line{font-family:\0000361}}
.player.active {
  background-color: #9a9a9a;
}
